<div class="draggable-list" ...attributes>
  {{#each @items as |itemData index|}}
    {{#if (eq index 0)}}
      <DropTarget
        @isVisible={{eq dropTarget -1}}
      >
        {{yield (hash
          target=(component 'draggable-list/content' class="target" content=(get items activeIndex))
        )}}
      </DropTarget>
    {{/if}}
    {{#draggable-list/item
      index=index
      events=events
      activeIndex=activeIndex
      dropTarget=dropTarget
    }}
      {{yield (hash
        item=(component 'draggable-list/content' class="dragging" content=itemData)
        handle=(component 'draggable-list/drag-handle' content=itemData index=index events=events)
      )}}
    {{/draggable-list/item}}
    <DropTarget
      @isVisible={{eq dropTarget index}}
    >
      {{yield (hash
        target=(component 'draggable-list/content' class="target" content=(get items activeIndex))
      )}}
    </DropTarget>
  {{else}}
    {{yield (hash
      placeholder=(component 'draggable-list/content')
    )}}
  {{/each}}
  {{#if (not (is-empty activeIndex))}}
    <div
      class="draggable-list-item active"
      style={{style}} {{! template-lint-disable no-inline-styles }}
    >
      {{yield (hash
        item=(component 'draggable-list/content' class="dragging" content=(get items activeIndex))
      )}}
    </div>
  {{/if}}
</div>