<div class="draggable-list" ...attributes>
  {{#each @items as |itemData index|}}
    {{#if (eq index 0)}}
      <DropTarget
        @isVisible={{and (eq dropTarget -1) (eq group dropGroup)}}
      >
        {{yield (hash
          target=(component 'draggable-list/content' class="target" content=activeItem)
        )}}
      </DropTarget>
    {{/if}}
    {{#draggable-list/item
      index=index
      group=group
      events=events
      activeIndex=activeIndex
      activeGroup=activeGroup
      dropTarget=dropTarget
      dropGroup=dropGroup
    }}
      {{yield (hash
        item=(component 'draggable-list/content' class="dragging" content=itemData)
        handle=(component 'draggable-list/drag-handle' content=itemData index=index group=group events=events)
      )}}
    {{/draggable-list/item}}
    <DropTarget
      @isVisible={{and (eq dropTarget index) (eq group dropGroup)}}
    >
      {{yield (hash
        target=(component 'draggable-list/content' class="target" content=activeItem)
      )}}
    </DropTarget>
  {{else}}
    {{#draggable-list/item
      index=0
      group=group
      events=events
      activeIndex=activeIndex
      activeGroup=activeGroup
      dropTarget=dropTarget
      dropGroup=dropGroup
    }}
      {{yield (hash
        placeholder=(component 'draggable-list/content')
      )}}
    {{/draggable-list/item}}
  {{/each}}
  {{#if (and (not (is-empty activeIndex)) (eq group activeGroup))}}
    <div
      class="draggable-list-item active"
      style={{style}} {{! template-lint-disable no-inline-styles }}
    >
      {{yield (hash
        item=(component 'draggable-list/content' class="dragging" content=activeItem)
      )}}
    </div>
  {{/if}}
</div>