

{{outlet}}
<DraggableList @onChange={{action "didChange"}} @items={{listItems}} as |list|>
  {{#list.item as |item|}}
    {{item.id}} - {{item.text}}
  {{/list.item}}
  {{#list.target as |item|}}
    {{item.id}} - {{item.text}}
  {{/list.target}}
</DraggableList>
<p></p>

<DraggableList @onChange={{action "didChangeGroup"}} @items={{groupItems}} as |list|>
  {{#list.group as |group|}}
    Group {{group}}
  {{/list.group}}
  {{#list.placeholder class="placeholder"}}
    No Data
  {{/list.placeholder}}
  {{#list.item as |item|}}
    <div>
      {{item.id}} - {{item.text}}
    </div>
  {{/list.item}}
  {{#list.target as |item|}}
    {{item.id}} - {{item.text}}
  {{/list.target}}
</DraggableList>

<p></p>

<DraggableGrid @columns=6 @rows=4 @onChange={{action "didChangeGrid"}} as |grid|>
  {{#each gridItems as |item index|}}
    {{#grid.item row=item.row column=item.column height=item.height index=index}}
      {{item.text}}
    {{/grid.item}}
  {{/each}}
</DraggableGrid>