

{{outlet}}
<DraggableList style="position:relative;" @onChange={{action "didChange"}} @items={{listItems}} as |list|>
  {{#list.item as |item|}}
    {{item.id}} - {{item.text}}
    {{#list.handle}}
      x
    {{/list.handle}}
  {{/list.item}}
  {{#list.target as |item|}}
    {{item.id}} - {{item.text}}
  {{/list.target}}
</DraggableList>
<p></p>

<DraggableList style="position:relative;" @onChange={{action "didChangeGroup"}} @items={{groupItems}} as |list|>
  {{#list.placeholder class="placeholder"}}
    No Data...
  {{/list.placeholder}}
  {{#list.item as |item|}}
    {{item.text}}
    {{#list.handle}}
      x
    {{/list.handle}}
    <DraggableList style="position:relative;" @onChange={{action "didChangeGroup"}} @items={{item.items}} as |innerList|>
      {{#innerList.placeholder class="placeholder"}}
        No Data...
      {{/innerList.placeholder}}
      {{#innerList.item as |item|}}
        {{item.text}}
        {{#innerList.handle}}
          +
        {{/innerList.handle}}
      {{/innerList.item}}
      {{#innerList.target as |item|}}
        {{item.id}} - {{item.text}}
      {{/innerList.target}}
    </DraggableList>

  {{/list.item}}
  {{#list.target as |item|}}
    {{item.id}} - {{item.text}}
  {{/list.target}}
</DraggableList>